<div class="card-header">
  <span class="card-title">
    <i class="fa fa-bicycle fa-inverse"></i>
    {{properties.name}}
  </span>
</div>
<div {{bind-attr class=":status status"}}>
  {{t statusKey}}
</div>
<div class="card-content">
  <ul>
    <li>
      <strong>{{t 'address'}}:</strong>
      {{properties.address}}
    </li>
    <li>
      <strong>{{t 'bikes'}}:</strong>
      {{t 'availables' properties.availableBikes}}
    </li>
    <li>
      <strong>{{t 'docks'}}:</strong>
      {{t 'availables' properties.availableDocks}}
    </li>
  </ul>
</div>
