<div class="card-content">
  <h4>{{properties.name}}</h4>
  <dd>
    <dt>{{t 'address'}}</dt>
    <dl>{{properties.address}}</dl>
    <dt>{{t 'status'}}</dt>
    <dl>{{t statusKey}}</dl>
    <dt>Docks totales</dt>
    <dl>{{properties.totalDocks}}</dl>
    <dt>Docks disponibles</dt>
    <dl>{{properties.availableDocks}}</dl>
    <dt>Bicicletas disponibles</dt>
    <dl>{{properties.availableBikes}}</dl>
  </dd>
</div>
