<nav class="navbar fixed">
  <ul {{bind-attr class=":side-nav active"}}>
    <li>{{#link-to 'features.about'}}{{t 'about_acleta'}}{{/link-to}}</li>
    <li>
      <a href="#" {{action 'toggleSideNav'}}>{{t 'close'}}</a>
    </li>
  </ul>
  <div class="nav-wrapper">
    <a href="#" {{action 'toggleSideNav'}}>
      &nbsp;
      <i class="mdi-navigation-menu"></i>
      &nbsp;
    </a>
    {{#link-to 'map' classNames="brand"}}
      <img src="logo.png" alt="Acleta" />
    {{/link-to}}
  </div>
</nav>
